main {
  box-sizing: border-box;
  background-image: url("../img/chat-wallpaper.png");
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  padding: 10px;
}

main > ul {
  align-self: flex-end;
  width: 100%;
}

main > span {
  color: rgb(192, 190, 190);
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
}

.container-de-bubbles {
  width: 25vw;
}

    @media screen and (max-width: 700px) {
      main {
        height: 80vh;
        padding-bottom: 50px;
        box-sizing: border-box;
      }
}